---
// Frontend Mentor - Results summary component solution
// This is the first challenge in the Frontend Mentor Challenges
import Breadcrumb from "../../components/Breadcrumb.astro";
const title = "Results Summary Component";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/favicon-32x32.png"
    />

    <style type="text/css">
      @font-face {
        font-family: "hanken";
        src: url("/results-summary-comp/fonts/HankenGrotesk-VariableFont_wght.woff2");
      }
    </style>

    <title>{title}</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body
    class="m-auto flex h-screen flex-col items-center justify-center bg-gray-50">
    <Breadcrumb content={{ title }} />
    <div class="container font-hanken sm:m-auto">
      <div
        class="grid h-full grid-cols-1 grid-rows-2 bg-white sm:m-auto sm:h-[400px] sm:max-w-[600px] sm:grid-cols-2 sm:grid-rows-1 sm:rounded-3xl sm:shadow-sm sm:shadow-gray-200">
        <section
          class="h-fit rounded-b-3xl bg-gradient-to-b from-violet-700 via-indigo-700 to-blue-700 p-8 px-[60px] pb-10 text-center text-gray-300 sm:flex sm:h-full sm:flex-col sm:items-center sm:justify-center sm:rounded-t-3xl sm:px-[50px]">
          <p class="mb-4 text-sm font-medium text-gray-400 sm:text-lg">
            Your Result
          </p>

          <div
            class="mx-auto my-auto h-32 w-32 rounded-full bg-gradient-to-t from-indigo-700 via-indigo-800 to-indigo-900 pt-3 sm:h-48 sm:w-44 sm:pt-0">
            <p
              class="pt-2 pb-0 text-[3rem] font-bold text-gray-50 sm:mt-6 sm:text-[4rem]">
              76
            </p>
            <p class="text-xs text-gray-500">of 100</p>
          </div>
          <div class="mt-5">
            <p class="mb-1 text-lg font-semibold text-gray-100 sm:text-2xl">
              Great
            </p>
            <p class="text-sm text-gray-400">
              You scored higher than 65% of the people who have taken these
              tests.
            </p>
          </div>
        </section>
        <section
          class="flex h-fit flex-col justify-between gap-3 px-6 pb-5 text-sm font-semibold sm:h-full sm:justify-center sm:gap-2 sm:py-5">
          <p class="text-gray-700 sm:text-lg">Summary</p>
          <div class="my-4 flex flex-col gap-4 sm:gap-3">
            <p
              class="flex items-center justify-between rounded-xl bg-red-50 py-3 px-4">
              <span class="flex items-center text-red-500">
                <img
                  class="mr-2 h-4 w-4"
                  src="/results-summary-comp/images/icon-reaction.svg"
                /> Reaction</span
              >
              <span> 80 <span class="text-gray-400"> / 100</span></span>
            </p>
            <p
              class="flex items-center justify-between rounded-xl bg-yellow-50 py-3 px-4">
              <span class="flex items-center text-yellow-500"
                ><img
                  class="mr-2 h-4 w-4"
                  src="/results-summary-comp/images/icon-memory.svg"
                />Memory</span
              >
              <span> 92 <span class="text-gray-400"> / 100</span></span>
            </p>
            <p
              class="flex items-center justify-between rounded-xl bg-green-50 py-3 px-4">
              <span class="flex items-center text-green-500"
                ><img
                  class="mr-2 h-4 w-4"
                  src="/results-summary-comp/images/icon-verbal.svg"
                />Verbal</span
              >
              <span> 61 <span class="text-gray-400"> / 100</span></span>
            </p>
            <p
              class="flex items-center justify-between rounded-xl bg-blue-50 py-3 px-4">
              <span class="flex items-center text-blue-500"
                ><img
                  class="mr-2 h-4 w-4"
                  src="/results-summary-comp/images/icon-visual.svg"
                />Visual</span
              >
              <span> 72 <span class="text-gray-400"> / 100</span></span>
            </p>
          </div>
          <button
            class="text-md w-full rounded-full bg-gray-700 py-3 text-gray-50 hover:bg-gradient-to-b hover:from-violet-700 hover:via-indigo-700 hover:to-blue-700">
            Continue</button
          >
        </section>
      </div>
    </div>
    <div class="attribution w-full bg-gray-100 text-lg">
      Challenge by <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank">Frontend Mentor</a
      >. Coded by <a target="_blank" href="https://github.com/AbhinavReddy-Dev"
        >Abhinav R Merugu</a
      >.
    </div>
  </body>
</html>
