---
import Breadcrumb from "../../components/Breadcrumb.astro";

const title = "Product Review Card";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
    </style>
    <title>Frontend Mentor | Product preview card component</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body
    class="flex h-screen w-screen flex-col items-center justify-center bg-amber-50">
    <Breadcrumb content={{ title }} />

    <main
      class="m-auto mx-6 grid max-h-[750px] grid-cols-1 grid-rows-[1fr_1.7fr] rounded-xl font-montserrat shadow-lg shadow-gray-200 sm:max-h-[600px] sm:grid-cols-2 sm:grid-rows-1 md:max-w-screen-sm">
      <img
        class="sm:rounded-l-b-none hidden overflow-hidden sm:block sm:rounded-l-xl sm:rounded-tr-none"
        src="/product-review-card/image-product-desktop.jpg"
        alt="product image"
      />
      <img
        class="block overflow-hidden rounded-t-xl sm:hidden"
        src="/product-review-card/image-product-mobile.jpg"
        alt="product image"
      />
      <section
        class="flex flex-col justify-between rounded-b-xl bg-white p-5 sm:rounded-r-xl sm:rounded-bl-none sm:p-8">
        <p class="text-sm uppercase tracking-[6px] text-gray-500">Perfume</p>
        <h1 class="font-fraunces text-3xl font-bold sm:text-4xl">
          Gabrielle Essence Eau De Parfum
        </h1>
        <p class="text-sm text-gray-500">
          A floral, solar and voluptuous interpretation composed by Olivier
          Polge, Perfumer-Creator for the House of CHANEL.
        </p>
        <div class="flex items-center font-fraunces">
          <h1 class="mr-4 text-4xl font-semibold text-emerald-700">$149.99</h1>
          <p class="text-gray-500 line-through">$169.99</p>
        </div>
        <button
          type="button"
          class="flex items-center justify-center gap-2 rounded-xl bg-emerald-700 py-3 text-white hover:bg-emerald-900">
          <img
            alt="shopping cart icon"
            src="/product-review-card/icon-cart.svg"
          />
          <span>Add to Cart</span>
        </button>
      </section>
    </main>
    <footer class="attribution w-full bg-gray-100 text-lg" role="contentinfo">
      Challenge by <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank">Frontend Mentor</a
      >. Coded by <a target="_blank" href="https://github.com/AbhinavReddy-Dev"
        >Abhinav R Merugu</a
      >.
    </footer>
  </body>
</html>
