---
import "./scss/global.scss";
import "./scss/navigation.scss";
import "./scss/main.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/news-homepage-main/images/favicon-32x32.png"
    />

    <title>Frontend Mentor | News homepage</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  </head>
  <body>
    <nav class="navigation">
      <div class="logo">
        <img src="/news-homepage-main/images/logo.svg" alt="logo" />
      </div>
      <div class="nav-links">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">New</a>
        <a class="nav-link" href="#">Popular</a>
        <a class="nav-link" href="#">Trending</a>
        <a class="nav-link" href="#">Categories</a>
      </div>
      <div class="menu-icon" style="display: none">
        <img
          alt="menu"
          id="menu-open"
          src="/news-homepage-main/images/icon-menu.svg"
        />
        <img
          alt="close menu"
          id="menu-close"
          src="/news-homepage-main/images/icon-menu-close.svg"
        />
      </div>
    </nav>
    <main class="hero-layout">
      <section class="hero-section" style="background-color: cadetblue;">
        <picture style="width: 100%; display: block;">
          <source
            media="(max-width: 375px)"
            srcset="/news-homepage-main/images/image-web-3-mobile.jpg"
          />
          <source
            media="(min-width: 376px)"
            srcset="/news-homepage-main/images/image-web-3-desktop.jpg"
          />
          <img
            src="/news-homepage-main/images/image-web-3-desktop.jpg"
            alt="hero image"
          />
        </picture>
        <h1>The Bright Future of Web 3.0?</h1>
        <p>
          We dive into the next evolution of the web that claims to put the
          power of the platforms back into the hands of the people. But is it
          really fulfilling its promise?
        </p>
        <button>Read more</button>
      </section>
      <aside class="hero-aside" style="background-color: aquamarine;">
        <a>
          <h2>New</h2>
          <h3>Hydrogen VS Electric Cars</h3>

          <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
        </a>
        <a>
          <h3>The Downsides of AI Artistry</h3>
          <p>
            What are the possible adverse effects of on-demand AI image
            generation?
          </p>
        </a>
        <a>
          <h3>Is VC Funding Drying Up?</h3>
          <p>
            Private funding by VC firms is down 50% YOY. We take a look at what
            that means.
          </p></a
        >
      </aside>
      <div class="hero-extra" style="background-color: darksalmon;">
        <div>
          <span> 01</span>
          <h4>Reviving Retro PCs</h4>
          <p>What happens when old PCs are given modern upgrades?</p>
        </div>
        <div>
          <span>02</span>
          <h4>Top 10 Laptops of 2022</h4>
          <p>Our best picks for various needs and budgets.</p>
        </div>
        <div>
          <span>03</span>
          <h4>The Growth of Gaming</h4>
          <p>How the pandemic has sparked fresh opportunities.</p>
        </div>
      </div>
    </main>
    <footer class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="#">Your Name Here</a>.
    </footer>
  </body>
</html>
